<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695498291932-cgndj1vg7n9dl7s8u8v9sl8n6fjm8s4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695498291932-cgndj1vg7n9dl7s8u8v9sl8n6fjm8s4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBdKUaFHbXPxf_8y-HQRoA0kjM4qD01E_0</string>
	<key>GCM_SENDER_ID</key>
	<string>695498291932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.gwc.art-portfolio-flutter.dev</string>
	<key>PROJECT_ID</key>
	<string>art-portfolio-flutter-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>art-portfolio-flutter-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695498291932:ios:8d4890da787b1b1f2b9219</string>
</dict>
</plist>